<div class="gradient-footer-bitafacts pt-3">
    <footer>
        <div class="row p-0 m-0">
            <div class="col-md-3 col-sm-3 ml-3">
                <div>
                    <h2 class="text-white"> Odisha, India</h2>
                    <h5 class="text-white"> Bitafacts.com LLP</h5>
                    <p class="text-white"><i class="fas fa-globe-africa pr-2"></i>
                        Big Street, Near Mahima Alekha Temple,
                        Khodasingi, Ganjam - 760010
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 contactdetails">
                <div class="address-item">
                    <h2 class="text-white">Hyderabad, India</h2>
                    <ul class="contact-info">
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="practice-list">
                    <h2 class="text-white">Useful Links</h2>
                    <ul class="list-unstyled">
                        <!-- <li><a>Careers</a></li> -->
                        <li><a class="nav-link tm-nav-link" href="#services">Services</a></li>
                        <li><a class="nav-link tm-nav-link" href="#technology">Technology</a></li>
                        <li><a class="nav-link tm-nav-link" href="#careers">Careers</a></li>
                        <li><a class="nav-link tm-nav-link" href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 contactdetails">
                <div class="mt-2">
                    <i class="fab fa-google-plus-g fa-lg text-white mr-2"></i>
                    <a href="https://www.linkedin.com/company/bitafacts" target="_blank">
                        <i class="fab fa-linkedin-in fa-lg text-white ml-2 mr-2"></i>
                    </a>
                    <i class="fab fa-facebook-square fa-lg text-white ml-2 mr-2"></i>
                    <i class="fab fa-instagram fa-lg text-white ml-2 mr-2"></i>
                    <a href="https://twitter.com/BitafactsLLP" target="_blank">
                        <i class="fab fa-twitter-square fa-lg text-white ml-2 mr-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <footer class="text-white text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3"> All Rights Reserved
            &copy; 2022
            <a class="text-white" href="https://bitafacts.com/">
                <h6 class="bitafacts-h1">BITAFACTS.COM LLP</h6>
            </a>
        </div>
        <!-- Copyright -->
    </footer>
</div>