<div class="container">
    <div class="row pt-3">
        <h2 class="text-center">
            About Us
        </h2>
        <hr>
        <div class="col-lg-3 col-xl-3">
            <img class="bitafacts-aboutus-image" alt="Bitafacts About Us First Image"
                src="../../assets/img/vector-art-2.png">
        </div>
        <div class="col-lg-9 col-xl-9">
            <p class="fw-2">
                Bitafacts is a fast growing IT Strategy Consulting & Services firm with a mission to optimize the
                business
                processes and thereby positively impacting the ROI on the client’s IT investments. With a blend of
                unparalleled experience, comprehensive capabilities, domain proficiency and best practices across
                various
                industries and business functions.
                BitaFacts collaborates with clients to serve them, to efficiently tackle their operational
                challenges.
                We bring together a unique combination of Technology expertise, capabilities, strong management
                focus
                and flexibility in engagement required to make our client engagements a success.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-xl-9">
            <div class="tm-intro-text-container">
                <p class="mb-4 tm-intro-text">
                <ul class="list-style-square">
                    <li>For being the best mid-sized IT Services company out of India – Bringing Access, Attention,
                        Agility,
                        and a winning Attitude to our clients</li>
                    <li>For our hybrid delivery model</li>
                    <li>For being a company that has kept its focus on its core capabilities – IT Systems and
                        Applications
                    </li>
                    <li>For having a range of services for our customers that can scale an account engagement to
                        sustainable
                        mass</li>
                    <li>For having a 100% perfect track record of rolling out and maintaining large mission critical
                        applications</li>
                    <li>For having the ability to go beyond providing technology expertise ‘on tap’ and becoming a
                        true
                        partner bringing business success to IT organizations</li>
                    <li>For having a wonderful group of ‘Minds’ who are the most experienced in the Industry and
                        have
                        consistently said that BitaFacts is a great place to work</li>
                    <li>For having a leadership team that has experience in scaling and creating a world class
                        institution
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-xl-3 pt-4">
            <img class="bitafacts-aboutus-image" alt="Bitafacts About Us Second Image"
                src="../../assets/img/vector-art-3.png">
        </div>
    </div>
</div>