<div class="container">
    <div class="row pt-1 pb-1">
        <h2 class="text-center">Contact Us
        </h2>
        <hr>
        <div class="content">
            <div class="left-side">
                <h4>Our Location</h4>
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Address</div>
                    <div class="text-one">Big Street, Near Mahima Alekha Temple,</div>
                    <div class="text-two"> Khodasingi, Ganjam - 760010</div>
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+91 </div>
                    <div class="text-two">+91 </div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one"><a class="mr-3 alt-color text-decoration-none"
                            href="mailto:info@bitafscts.com">info@bitafscts.com</a></div>

                </div>
            </div>
            <div class="right-side">
                <div class="text-white h4">Get In Touch</div>
                <form>
                    <div class="col-6">
                        <div class="input-box">
                            <input type="text" placeholder="Enter your name">
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Enter your email">
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Enter subject">
                        </div>
                        <div>
                            <textarea class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="button">
                            <input type="button" (click)="SendMail()" value="Send Now">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>