.item-tech {
    width: 100px;
    height: 90px;
  }

  .technology-items {
    text-align:center;
    padding-top: 40px;
  }
  
  .technology-items-2 {
    text-align: center;
    padding-top: 20px;
  }
  
  
  .bitafacts-technology-image {
    width:100px; 
    height: 90px;
  }