<div class="container">

    <div class="row">
      <!-- first row -->
      <div class="col-lg-12 col-xl-12">
        <div>
          <h2 class="mb-4 text-center">Our Technology
          </h2>
          <hr>
          <div class="row technology-items-2">
            <div class="col-3">
              <img src="../../assets/img/dotnet.png" alt="Bitafacts Technology" class="bitafacts-technology-image" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/java.png" alt="Bitafacts Technology" class="bitafacts-technology-image" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/sqlserver.png" alt="Bitafacts Technology" class="bitafacts-technology-image" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/azure.png" alt="Bitafacts Technology" class="bitafacts-technology-image" />
            </div>
          </div>
          <div class="row technology-items">
            <div class="col-3">
              <img src="../../assets/img/aws.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/angular-2.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/reactjs.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/Vue.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
          </div>
          <div class="row technology-items">
            <div class="col-3">
              <img src="../../assets/img/php.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/mongodb.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/mysql.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/wordpress.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
          </div>
          <div class="row technology-items">
            <div class="col-3">
              <img src="../../assets/img/laravel.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/html5.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/jquery.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
            <div class="col-3">
              <img src="../../assets/img/android.png" alt="Bitafacts Technology" class="item-tech" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>