<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xl-12">
            <div>
                <h2 class="text-center mb-4">Our Openings
                </h2>
                <hr>
                <div class="row">
                    <div class="col-4 mb-4">
                        <div class="text-clearfix">
                            <img width="34" height="34" src="../../assets/img/dot-net.png" class="career-img"
                                alt=".NET Full Stack Developer" loading="lazy" sizes="(max-width: 34px) 100vw, 34px">
                            <div class="text-era">
                                <h5 class="text-heading">SOFTWARE ENGINEER</h5>
                                <p> Exp: 2 - 4 Years <br> .NET Full Stack Developer </p>
                            </div>

                        </div>
                    </div>

                    <div class="col-4 mb-4">
                        <div class="text-clearfix">
                            <img width="34" height="34" src="../../assets/img/frontend.png" class="career-img"
                                alt="UI Developer" loading="lazy" sizes="(max-width: 34px) 100vw, 34px">
                            <div class="text-era">
                                <h5 class="text-heading">UI DEVELOPER</h5>
                                <p> Exp: 0 - 1 Years <br> UI Developer </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-4 mb-4">
                        <div class="text-clearfix">
                            <img width="34" height="34" src="../../assets/img/UX-UI.png" class="career-img"
                                alt="UX Designer" loading="lazy" sizes="(max-width: 34px) 100vw, 34px">
                            <div class="text-era">
                                <h5 class="text-heading">SOFTWARE ENGINEER</h5>
                                <p> Exp: 0 - 1 Years <br> UX Designer </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mb-4">
                        <div class="text-clearfix">
                            <img width="34" height="34" src="../../assets/img/dot-net.png" class="career-img"
                                alt=" .NET Full Stack Developer" loading="lazy" sizes="(max-width: 34px) 100vw, 34px">
                            <div class="text-era">
                                <h5 class="text-heading">SOFTWARE ENGINEER</h5>
                                <p> Exp: 0 - 1 Years <br> .NET Full Stack Developer </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="text-clearfix">
                            <img width="34" height="34" src="../../assets/img/php.png" class="career-img"
                                alt="PHP Developer" loading="lazy" sizes="(max-width: 34px) 100vw, 34px">
                            <div class="text-era">
                                <h5 class="text-heading">SOFTWARE ENGINEER</h5>
                                <p> Exp: 1 - 4 Years <br> PHP Developer </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mb-4">
                        <div class="text-clearfix">
                            <img width="34" height="34" src="../../assets/img/angular-2.png" class="career-img"
                                alt="Angular Developer" loading="lazy" sizes="(max-width: 34px) 100vw, 34px">
                            <div class="text-era">
                                <h5 class="text-heading">SOFTWARE ENGINEER</h5>
                                <p> Exp: 0 - 3 Years <br> Angular Developer </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>